<footer id="f-info">
    <div class="f-info-socials">
        <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.instagram.com/"><i class="fa-brands fa-square-instagram"></i></a>
        <a href="https://in.linkedin.com/"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://x.com/?lang=en"><i class="fa-brands fa-square-x-twitter"></i></a>
        <a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a>
    </div>

    <div class="f-info-cname">
        &copy; 2003 StayEasse Private Limited.
    </div>

    <div class="f-info-links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms & conditions</a>
        <a href="/details">Company details</a>
        <a href="/contact">Contact us</a>
    </div>

</footer>