<% layout('layout') %>
<h1>Welcome to StayEase</h1>
<p>Find your perfect stay with us!</p>
<a href="/listings/new">Create a new listing</a>
<br>    
<a href="/listings">All listings</a> <br>
<a href="/signup">Sign Up</a><br>
<a href="/login">Login</a><br>