#errorMess{
    text-align: center;
    font-size: 1.5rem;
}
#code{
    font-size: 5rem;
}

#sad-emoji img{
    height: 10rem;
    width: 10rem;
    margin-top: 1rem;
}
#sad-emoji{
    display: flex;
    justify-content: center;
    
}