#otp-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#heading {
    color: rgb(187, 37, 37);
}


.email{
    color: rgb(6, 118, 163);
}
#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

#email {
    border-radius: 0.9rem;
    width: 100%;
    text-align: center;
}

#email:focus {
    box-shadow: 3px 3px 5px rgb(177, 42, 8);
}

#submit-btn {
    width: 100%;
    margin: 0.5rem;
    background-color: rgb(187, 37, 37);
    color: aliceblue;
    border-radius: 1rem;
}

#submit-btn:hover {
    background-color: darkred;
}

img {
    width: 10%;
    height: auto;
}


@media(max-width: 800px){
    img{
        width: 15%;
    }
}
@media(max-width: 400px){
    img{
        width: 20%;
    }
}

@media(max-width: 750px) {
    #form {
        width: 40%;
    }
}

@media(max-width: 500px) {
    #form {
        width: 60%;
    }
}