<% layout('layout') %>
<%- block('styles').append('<link rel="stylesheet" href="/css/forgotPassword.css">') %>
<div id="otp-page">
    <img src="/images/email-icon.png" alt="image loading">
    <h1 id="heading"><b>Recover Your Account</b></h1>
    <form action="/auth/forgot-password/send-otp" method="post" id="form">
        <input type="email" id="email" name="email" placeholder="Enter your email">
        <button type="submit" id="submit-btn"><b>Send Code</b></button>
    </form>

</div>
<%- //block('scripts').append(`<script>const time=${remTime};</script>`) %>
<%- block('scripts').append('<script src="/js/otpPage.js"></script>') %>
<%- block('scripts').append('<script src="/js/forgotPassword.js"></script>') %>